<mat-tab-group>
  <mat-tab label="Monday">
    <mat-card class="example-class">
      <mat-card-title>Monday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Dahi Chura</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Monday Lunch</mat-card-title>
      <mat-card-subtitle>Non-veg</mat-card-subtitle>
      <mat-card-content>
        <p>Chicken with Roti and Chawal</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Monday dinner</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Seasonal Veg</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Tuesday">
    <mat-card class="example-class">
      <mat-card-title>Tuesday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Aaloo Paratha</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Tuesday Lunch</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Daal Chawal with Bhujia</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Tuesday Dinner</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Dal Roti</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Wednesday">
    <mat-card class="example-class">
      <mat-card-title>wednesday BreakFast</mat-card-title>
      <mat-card-subtitle>Non-Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Bread Omlet</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Wednesday Lunch</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Chole Chawal</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Wednesday Dinner</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Chole Puri with Kheer (gudd)</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Thursday">
    <mat-card class="example-class">
      <mat-card-title>Thursday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Poha</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Thursday Lunch</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Kaddi Chawal/Roti</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Thursday Dinner</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Kaddi Roti/Chawal</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Friday">
    <mat-card class="example-class">
      <mat-card-title>Friday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Seasonal Bhujia</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Friday Lunch</mat-card-title>
      <mat-card-subtitle>Non-Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Any Non-Veg(Chicken/Fish)</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Friday Dinner</mat-card-title>
      <mat-card-subtitle>Veg./Non-Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Non-Veg/Seasonal Bhujia</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Saturday">
    <mat-card class="example-class">
      <mat-card-title>Saturday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Stuff Paratha</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Saturday Lunch</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Masala Khichadi</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Saturday Dinner</mat-card-title>
      <mat-card-subtitle>Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Chilla(Besan/Suji)</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Sunday">
    <mat-card class="example-class">
      <mat-card-title>Sunday BreakFast</mat-card-title>
      <mat-card-subtitle>Veg.</mat-card-subtitle>
      <mat-card-content>
        <p>Idli/Dosa (South Indian)</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Tuesday Lunch</mat-card-title>
      <mat-card-subtitle>Non-Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Egg Curry</p>
      </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card class="example-class">
      <mat-card-title>Tuesday Dinner</mat-card-title>
      <mat-card-subtitle>Veg/Non-Veg</mat-card-subtitle>
      <mat-card-content>
        <p>Egg Curry/South Indian</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>